<div>
    <div class="flex simpleDemo">
        <ul dnd-dragover="dragoverCallback(event, index, external, type)" dnd-drop="dropCallback(event, index, item, external, type, 'containerType')" dnd-list="model.builder" class="builder">
            <li ng-repeat="item1 in model.builder" dnd-draggable="item1" dnd-moved="model.builder.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="selected1 = item1" ng-class="{'selected': selected1 === item1}" ng-click="setGlobalIndex($index)">

                <div uib-popover-template="dynamicPopover.textInput" popover-title="Text Field"  popover-placement="bottom-right">
                    <text-input popoverTemplateUrl="./components/textInput.html" object="item1"></text-input>

                </div>
                <div uib-popover-template="dynamicPopover.radioInput" popover-title="Radio" popover-placement="bottom-right" class="">

                    <radio-input popoverTemplateUrl="./components/radioInput.html" object="item1"></radio-input>
                </div>
                <div ng-repeat="choice in extraChoices" uib-popover-template="choice.popoverTemplateUrl" popover-title="Radio" popover-placement="bottom-right">

                    <abstract template="choice.htmlTemplate" object="item1" choice="choice"></abstract>

                </div>
            </li>
        </ul>
        <ul class="choices">

            <li class="extra-height myFormItem" ng-repeat="item2 in choices" dnd-draggable="item2" dnd-effect-allowed="copy" dnd-copied="item2.id = item2.id + 1">
                <div ng-html="item2.display" class=""></div>
            </li>
        </ul>
    </div>
    <div style="display:none;" ng-include src="dynamicPopover.textInput"></div>
    <div style="display:none;" ng-include src="'components/sample.html'"></div>
</div>
